[submodule "jbpm-processes-pizzapizza"]
	path = jbpm-processes-pizzapizza
	url = git@github.com:kmacedovarela/jbpm-processes-pizzapizza.git
[submodule "jbpm-rules-pizzapizza"]
	path = jbpm-rules-pizzapizza
	url = git@github.com:kmacedovarela/jbpm-rules-pizzapizza.git
[submodule "pizzapizza-application-model"]
	path = pizzapizza-application-model
	url = git@github.com:kmacedovarela/pizzapizza-application-model.git
[submodule "dialogflow-nodejs-pizzapizza"]
	path = dialogflow-nodejs-pizzapizza
	url = git@github.com:kmacedovarela/dialogflow-nodejs-pizzapizza.git
